/*start of bootstrap cointainer*/
.container {
  padding-top: 50px; /*por causa da navbar estar sticky e com height 49px*/
  width: 80%;
  background-color: #e2f1f7;
  border: 3px solid rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}
/*end of bootstrap cointainer*/
body {
  margin: 0 auto;
  background: lightblue;
  height: 100%;
  overflow-x: hidden;
}
/* start of navbar*/
/* TODO this will be used for icon
.navbar-brand { 
    padding-left: 15px;

} */
.navbar {
  height: 49px;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
}
.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
/* end of navbar*/

.login {
  padding-right: 20px;
}

#menu ul {
  display: none;
  position: absolute;
  background-color: #b3ccff;
  top: 100%;
  right: 0;
  z-index: 999;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  min-width: 20%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#menu:hover ul {
  display: block;
}

#menu ul li {
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
}

#menu ul li:hover {
  background-color: #b3ccff;
}
li {
  font-size: 20px;
}
li:hover {
  background-color: #b3ccff;
}
.image_wrapper {
  position: relative;
  max-width: 350px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  filter: brightness(100%);
  transition: filter
}
.guide_name {
  display: block;
  margin: 0;
  font-size: 1.5rem;
}
.guide_description {
  display: block;
  margin: 0;
  font-size: 1.10rem;
}