/*start of bootstrap cointainer*/
.container-fluid {
    margin: 0;
    padding: 0;
    height: 85vh;
}
.col-md-4 {
    background-color: #5494da;
    border-radius: 2%;
}
/*end of bootstrap cointainer*/

/* start of navbar*/
/* TODO this will be used for icon
.navbar-brand { 
    padding-left: 15px;

} */
.navbar {
    height: 49px;
}
.navbar-nav {
    /* navigation of navbar*/
    display: flex;
    justify-content: space-between;
}
.nav-link {
    /* text of items in nav bar*/
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 49px;
}
.nav-item {
    font-size: 20px;
}
.nav-item:hover {
    background-color: #b3ccff;
}
/* end of navbar*/
body {
    margin: 0 auto;
    background: lightblue;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
/*start of user profile*/
#profile_pic {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#username {
    text-align: center;
}

/*start of guide upload button*/
#guide_upload {
    width: 181px;
    height: 32px;
    opacity: 1;
    overflow: hidden;
    position: relative;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: teal;
    margin: auto;
    border: none;
    border-radius: 15px 50px 30px;
    float: left;
    cursor: pointer;
}

#guide_upload:hover {
    background-color: lightskyblue;
}

/*end of guide upload button*/

/* start of delete button*/
#delete_button {
    opacity: 1;
    position: relative;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: teal;
    border-radius: 12px;
    border: none;
    float: right;
}

#delete_button:hover {
    background-color: lightskyblue;
}

/*end of delete button*/

/*end of user profile*/

/* start of upload form */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Disable scroll */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* start of Modal Content Box */
.modal-content {
    overflow: auto;
    top: 0;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}

.modal_header {
    height: 40px;
}

.modal_body {
    display: block;
    padding-top: 20px;
}

/* start of Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 20px;
    height: 40px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* end of Close Button */

.upload_form {
    float: left;
    font-size: 1.50em;
    font-weight: 700;
}

.inputbox {
    /* input box */
    margin-bottom: 10px;
}

#guide_title,
#guide_location,
#guide_description {
    height: 30px;
    width: 50%;
    border: none;
    border-bottom: 1px solid #b3ccff;
    padding: 5px 10px;
    outline: none;
}

/* placeholder text animation */
input[type="text"]:focus::placeholder {
    transform: translateY(-8px);
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

/* start of file upload button*/
.file_upload {
    font-size: 1.2em;
    padding: 0.5em;
    border: 2px solid #b3ccff;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
    cursor: pointer;
    outline: none;
}

.file_upload:hover {
    /*subtle change quando da hover*/
    border-color: lightskyblue;
}

.file_upload:active {
    background-color: #ddd;
    border-color: #999;
}

/* end of file upload button*/

.submit_button {
    border-radius: 15px 50px;
}

/* end of Modal Content Box */

/*#guide_title:hover,#guide_location:hover,#guide_description:hover{
    background-color: #dbf3fa;
}*/
/* End of Upload form */

footer {
    height: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman';
}