.container-fluid {
    margin: 0;
    padding: 0;
    height: 80vh;
}

footer{
    height: 10vh;
    bottom: 0; left: 0; right: 0;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman';    
}
.col-md-4{
    background-color: #5494da;
    border-radius: 2%;
}

body {
    /*width: 100%;needless?*/
    margin: 0 auto;
    background: lightblue;
    height: 100%;
    overflow-x: hidden;
}


#profile_pic {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#username {
    text-align: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: relative;
}
#delete_button {
    opacity: 1;
    position: relative;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: teal;
    border-radius: 12px;
    border: none; 
    float: right;   
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: teal;
    margin:auto;
    border-radius: 12px;
    float: left;
    cursor: pointer;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: lightskyblue;
}



#delete_button:hover {
    background-color: lightskyblue;
}


.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-brand{
    padding-left: 15px;

}

.navbar {
    height: 49px;
}

.navbar-nav{
  display: flex;
  justify-content: space-between;
}


.login{
    padding-right: 20px;
}

#menu ul {
    display: none;
    position: absolute;
    background-color: #b3ccff;
    top: 100%;
    right: 0;
    z-index: 999;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    min-width: 20%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }
  
  #menu:hover ul {
    display: block;
  }
  
  #menu ul li {
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  #menu ul li:hover {
    background-color: #b3ccff;
  }

  .navbar-nav .dropdown-menu {
    z-index: 9999;
  }

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

li{
    font-size: 20px;
}

li:hover{
    background-color: #b3ccff;
}