body {
    overflow-x: hidden;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  p::first-letter {
    text-transform: capitalize;
  }

  .navbar li a,
  .nav_main a {
    text-decoration: none;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    box-sizing: border-box; /* Subtract the header height from the viewport height */
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .main-content {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

  .box {
      width: 33.33%;
      padding: 10px;
      box-sizing: border-box;
  }
                                                         /*ZOOM OUT THE BACKGROUNG   +   ARRANJAR BACKGROUND BACANO   +   ARRANJAR SEARCH BAR IMAGEM*/
  .link_img{
    width: 100%;
    border-radius: 25px;
    filter: brightness(0.77);
  }

  .guide_title{
    font-size: 30px;
    font-weight: 450;
    position: relative;
    bottom: 70px;
    left: 10px;
  
  }

  .guide_subtitle{
    font-size: 15px;
    
    position: relative;
    bottom: 90px;
    left: 10px;
  }

  .box-container .box {
    flex: 1;
    margin: 10px;
    
    /* border: 2px solid black; */
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
  }
  
  #profile_pic {
    width: 60%;
    height: auto;
  }

  .control-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    bottom: 60px;
    right: 100px;
    
  }

  .add-button{
    width: 40px;
    border-radius: 5px;
    background-color: rgb(87, 187, 87);
    position: relative;
    left: 100px;
    font-weight: 1000;
  }

  .delete-button{
    width: 40px;
    border-radius: 5px;
    background-color: rgb(174, 67, 67);
    position: relative;
    left: 100px;
    font-weight: 1000;
  }

  
  @media (max-width: 768px) {
    .wrapper {
      flex-wrap: wrap;
            }
  
    }   
  @media (max-width: 1280px) {
    header {
      padding: 14px 2%;
      transition: 0.2s;
    }
  
    .navbar a {
      padding: 5px 0;
      margin: 0px 20px;
    }
  }
  
  @media (max-width: 1000px) {
    #menu-icon {
      display: block;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      right: 2%;
      width: 270px;
      background: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all 0.3s ease;
    }
  
    .navbar a {
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all 0.3s ease;
    }
  
    .navbar a:hover {
      color: var(--text-color);
      transform: translateY(10px);
    }
  
    .navbar {
      display: none;
    }
  
    .navbar a.active {
      color: var(--text-color);
    }
  
    .navbar.open {
      display: block;
    }
  }
  
  @media only screen and (max-width: 534px) {
    .nav_main {
      width: 1rem;
    }
  }
  
  @media (max-width: 385px) {
    .nav_main a {
      font-size: 1.5rem;
    }
  }
