
/*Comentar tudo*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{ /* *{} is a universal selector that targets all elements on the page */
    margin: 0;
    padding: 0; /*margin: 0 and padding: 0, remove any default margins and paddings applied by the browser.*/
    box-sizing: border-box; /* box-sizing: border-box, ensures that the specified width and height properties include the content, padding, and border of the element, rather than being affected by additional spacing.*/
}

html{
    height: 100%;
}

.footer{
    margin-top: 0;
    background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    position: absolute;
}

/*tamanho do footer*/
.container-footer{
    max-width: 1170px;
    margin:auto;
    
}

/*mete as colunas lado a lado*/
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

/*controla posição do conteudo de cada coluna*/
ol{
    list-style: none;
    position: relative;
    right: 13%;
}

/*Tamanho das colunas*/
.footer-col{
    width: 25%;
    padding: 0 0px;
}

/*Título de cada coluna*/
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

/*half line under the tittle*/
.footer-col h4::before{ 
    content:''; /*specifies content used in ::before and ::after (aka pseudo-elements)*/
    position: absolute;
    left: 0px;
    bottom: -10px;
    background-color: #FFA62B;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ol .f:not(:last-child){
    margin-bottom: 15px;
}

/*Custom for the footer links*/
.footer-col ol .f a{
    font-size: 16px;
    text-transform: capitalize; /*Mete automaticamente início de cada palavra em letra maiúscula*/
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display:block;
    transition: all 0.3s ease; 
    /*
    transition, does smooth transition
    all, to all elements
    0.3 ease, duration of 0.3 seconds with easing function (start- slow, middle-fast, end-slow)
    */
}

.footer-col ol .f a:hover{ 
    color: #ffffff;
    padding-left: 10px; /*applies transition when hovering, moving the element 10px to the right*/
}

/*custom for the footer social links*/
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2); /*aka #FFFFFF33*/
    /*This type of color setting is used due change the opacity od teh color, due to its "alpha" propertie.*/
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: #ffffff;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover{
    color: #353535;
    background-color: #D9D9D9;
}

#footer-mid{
    padding-left: 8%;
}

.social-links{
    display: inline-flex;
}

#footer-logo{
    padding-left: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}

#logo{
    width: 500px; 
    position: relative;
    top: 10%;
    left: -5%;
}

.a{
    transition: all 0.3 ease;
}

a:hover #logo1{
    border: none;
    transform: scale(0.9);
}

.copyright{
    color: rgb(111, 106, 106);
    font-size:x-small;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
  }

/*Responsive*/

@media(min-width: 1270px){
    /*separates the 4 columns*/
        .row-footer{
            display: flex;
            flex-flow: row ;
            justify-content: space-around;
            gap: 0px 50px;
        }
    
        .footer-col{
            flex: none;
        }
        
    }

@media(min-width: 1771px){
/*separates the 4 columns*/
    .row-footer{
        display: flex;
        flex-flow: row ;
        justify-content: space-around;
        gap: 0px 200px;
    }

    .footer-col{
        flex: none;
    }
    
}

@media(min-width: 2000px){
    /*separates the 4 columns*/
        .row-footer{
            display: flex;
            flex-flow: row ;
            justify-content: space-around;
            gap: 0px 325px;
        }
    
        .footer-col{
            flex: none;
        }
        
    }

@media(max-width: 1300px){

    .social-links {
        display: block; 
      }

    #logo{
    position: relative;
    right:0
        }
    }

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }   

    .social-links {
        display: block; 
      }

    .logo{
        position: relative;
        top: 100%
    }
}

@media(max-width: 574px){
    
    .footer{
        width: 100vh;
    }
    
    .footer-col{
        width: 100%;
    }   

    #logo{
        width: 500px; 
        position: relative;
        top: 10%;
        left: -20%;
    }
}